<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slither</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        'use strict';

        var vcanvas, ctx;
        var r_left, r_right, r_up, r_down;
        var feedArr = [];
        var Snake1;
        var scl = 10;
        let dArr = {id:null, x:null, y:null, xv:null, yv:null, tailArr:[{x:null,y:null}]};

            const socket = io.connect('http://localhost:8005',{
            path: '/socket.io',
            transports: ['websocket'],
        });
        socket.on('news',function(data){
            console.log(data);
            Snake1.x = data.x;
            Snake1.y = data.y;
            
            dArr = {id:socket.id, x:Snake1.x, y:Snake1.y, xv:Snake1.xv, yv:Snake1.yv, tailArr:Snake1.tailArr};
            // console.log(dArr)
            socket.emit('reply',dArr);
        })
        

        function init() {

            vcanvas = document.getElementById('myCanvas');
            ctx = vcanvas.getContext('2d');
            

            Snake1 = new Snake(dArr.id);


            setInterval(gameLoop,100);
            setInterval(createFeed,33);

        }


        //feed
        function createFeed() {
            const fx = Math.floor(Math.random() * vcanvas.width - scl)
            const fy = Math.floor(Math.random() * vcanvas.height - scl)
            const fc = "#" + parseInt(Math.random() * 0xffffff).toString(16)
            const findX = feedArr.indexOf(fx);
            const findY = feedArr.indexOf(fy);
            if(findX != -1 && findY != -1)
            {
                return;
            }
            feedArr.push({ x:fx, y:fy, c:fc })
        }

        function drawFeed() {
            var i;
            for(i = 0; i < feedArr.length; i++){
                if(feedArr[i].x % scl == 0 && feedArr[i].y % scl == 0){
                    ctx.beginPath();
                    ctx.fillStyle = feedArr[i].c;
                    ctx.fillRect(feedArr[i].x, feedArr[i].y, scl, scl);
                }
            }
        }

        function  eatFeed( snake ) {
            var i;
            for(i = 0; i < feedArr.length; i++){
                if(feedArr[i].x == snake.x && feedArr[i].y == snake.y ){
                    snake.addTail();
                    feedArr.splice(i,1);
                }
            }
        }

        //Snake

        var Snake = function(id) {
            this.socketID = id;
            this.x = 0;
            this.y = 0;
            this.xv = 0;
            this.yv = 0;
            this.tailArr = [];
        
            // this.updateSnake = function() {
                
            //     var i;
            //     for ( i = this.tailArr.length - 1; i > 0; i -= 1) {
            //         this.tailArr[i] = this.tailArr[ i-1 ]
            //     }
            //     this.tailArr[0] = {x: this.x, y: this.y}
                
            //     this.x += this.xv * scl;
            //     this.y += this.yv * scl; 
            
            //     if( this.x < 0 ) { this.x = 0 }
            //     if( this.x + 10 > vcanvas.width ) { this.x = vcanvas.width - 10 }
            //     if( this.y < 0 ) { this.y = 0 }
            //     if( this.y + 10 > vcanvas.height ) { this.y = vcanvas.height - 10 }
            // }
        
            this.updateSnake = function() {
                
                var i;
                for ( i = this.tailArr.length - 1; i > 0; i -= 1) {
                    this.tailArr[i] = this.tailArr[ i-1 ]
                }
                this.tailArr[0] = {x: this.x, y: this.y}
                
                this.x += this.xv * scl;
                this.y += this.yv * scl; 
            
                if( this.x < 0 ) { this.x = 0 }
                if( this.x + 10 > vcanvas.width ) { this.x = vcanvas.width - 10 }
                if( this.y < 0 ) { this.y = 0 }
                if( this.y + 10 > vcanvas.height ) { this.y = vcanvas.height - 10 }
            }

            this.dir = function( x,y ) {
                this.xv = x;
                this.yv = y;
            }
        
            this.addTail = function() {
                this.tailArr.push({x:null,y:null})
            }
        
            this.drawSnake = function() {
                var i;
                for ( i = 0; i < this.tailArr.length-1; i++ ){
                    ctx.beginPath();
                    ctx.fillStyle = "gray";
                    ctx.fillRect(this.tailArr[i].x, this.tailArr[i].y, scl, scl);
                }
        
                ctx.fillStyle = "black";
                ctx.fillRect(this.x, this.y, scl, scl);
            }
        }


        function clearCanvas() {
            ctx.clearRect(0,0,vcanvas.width,vcanvas.height);
        }

        function update() {
            if(r_left) { Snake1.dir(-1,0)}
            if(r_right) { Snake1.dir(1,0)}
            if(r_up) { Snake1.dir(0,-1)}
            if(r_down) { Snake1.dir(0,1)}
        }

        function gameLoop() {
            clearCanvas();
            
            
            Snake1.drawSnake();
            update();
            Snake1.updateSnake();
            
            dArr = {id:Snake1.id, x: Snake1.x, y:Snake1.y, xv:Snake1.xv, yv:Snake1.yv, tailArr:Snake1.tailArr}
            // dArr.id = Snake1.id;
            // dArr.x = Snake1.x;
            // dArr.y = Snake1.y;
            // dArr.xv = Snake1.xv;
            // dArr.yv = Snake1.yv;
            // dArr.tailArr = Snake1.tailArr;

            drawFeed();
            eatFeed( Snake1 );

        }




        function set_key(event) {
            r_left = r_up = r_down = r_right = 0;

            if(event.keyCode === 37 ) {  r_left = 1 }
            if(event.keyCode === 38 ) { r_up = 1 }
            if(event.keyCode === 39) {  r_right= 1 }
            if(event.keyCode === 40) { r_down = 1 }
        }

        document.onkeydown = set_key;


        
    </script>
    
    <style>
        canvas{
            border: 1px solid black;
        }
    </style>
</head>
<body onload="init()">
    <canvas id="myCanvas" width="500" height="500">
        이 브라우저는 canvas를 지원하지 않습니다.
    </canvas>
</body>
</html>